<h1>This is the secret page!</h1>
<p>You found me!</p>

<img src="http://www.walesartsreview.org/wp-content/uploads/2016/05/WSH0309-credit-Talkbalk-Thames-BBC-c8c36293-24a0-43dc-a4fb-9f6094ed3c37.jpg">


<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>